<div class="container header-contianer">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>Sanket Sharma</h1>
      <h2>JavaScript & MERN Stack Developer | AWS</h2>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <ul class="icons no-print">
        <li>
          <a target="_blank" href="https://github.com/sanket10345/"
            class="button button--sacnite button--round-l">
            <i class="fab fa-github" title="Github link"></i>
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/sanket-sharma-411525207"
            class="button button--sacnite button--round-l">
            <i class="fab fa-linkedin" title="Linkedin link"></i>
          </a>
        </li>
        <!-- <li>
          <a href="assets/profile.jpg" class="button button--sacnite button--round-l" download>
            <i class="fas fa-download" title="Download CV"></i>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container intro-container">
    <h3>About Me</h3>
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-4 col-md-3 no-print">
        <span class="profile-img" style="background-image: url('assets/profile.jpg');"></span>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12">
        <p>
          Hi, my name is Sanket. I’m a passionate tech enthusiast with over 4.7 years of professional experience in JavaScript technologies—working extensively with React JS, MongoDB, Express.js, and Node.js. In addition, I'm proficient in cloud and container technologies, and I've leveraged platforms like AWS and Docker to boost scalability and efficiency in my projects. I pride myself on being results-oriented and have strong communication, analytical, and coordination skills. I adapt quickly to the latest IT trends and technologies, and I'm always eager to learn and grow.
        </p>
        <p>
          I am most skilled in:<br/>
          <mark>JavaScript</mark>
          <mark>Node.js</mark> 
          <mark>React.js</mark>
          <mark>AWS</mark>
          <mark>Docker</mark>
          <mark>Kubernetes</mark>
          <mark>Sql</mark>
          <mark>MongoDB</mark>
          <mark>Python</mark>
        </p>
      </div>
      
    </div>
  </div>

</div>