<div class="container list-container">
    <h3>Certifications</h3>
    
    <div class="row clearfix layout layout-left">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-278cb840-e627-408c-b569-1eb1a0e313e1.jpg?v=1747034285000" alt="Udemy Certificate" style="width:100%; max-width:300px; margin-top:10px;" />
        <p class="no-print aditional-links">
        </p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
        <h4><p class="quote"><strong>Jenkins, From Zero To Hero: Become a DevOps Jenkins Master
<br/>May 12, 2025</strong></p></h4>
        <p class="quote">
          Acquired foundational expertise in Jenkins architecture, pipeline concepts, and CI/CD best practices. Gained hands-on experience installing and securing Jenkins, creating freestyle and declarative pipelines, integrating Git, Docker, Maven, AWS, and Ansible, managing credentials and role-based access, and automating end-to-end build-test-deploy workflows with pipeline-as-code to deliver reliable software releases at scale.
        </p>
      </div>
    </div>
    <div class="row clearfix layout layout-left">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-0f5d5e9b-65f9-4723-ad0e-f0f354f8a5ae.jpg?v=1743314795000" alt="Udemy Certificate" style="width:100%; max-width:300px; margin-top:10px;" />
        <p class="no-print aditional-links">
        </p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
        <h4><p class="quote"><strong>Kubernetes for the Absolute Beginners - Hands-on<br/>April 19, 2025</strong></p></h4>
        <p class="quote">
          Gained foundational knowledge of Kubernetes architecture, components, and deployment strategies. Developed hands-on experience with creating clusters, deploying applications, managing containers, and working with core resources like Pods, Deployments, and Services using kubectl and YAML configurations.
        </p>
      </div>
    </div>
    <div class="row clearfix layout layout-left">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details" >
        <p class="no-print aditional-links">
        </p>
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-a017766b-e6c0-48ad-bb01-c5ea65e23eb8.jpg?v=1743314795000" alt="Udemy Certificate" style="width:100%; max-width:300px; margin-top:10px;" />

        <p class="no-print aditional-links">
        </p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
        <h4><p class="quote"><strong>Docker for the Absolute Beginner - Hands On - DevOps<br/>April 15, 2025</strong></p></h4>
        <p class="quote">
          Completed a hands-on certification course covering the fundamentals of Docker, including containerization concepts, image creation, Dockerfile usage, volumes, networks, and orchestration basics. Gained practical experience by building and deploying containers in real-world DevOps scenarios.
        </p>
      </div>
    </div>
    <div class="row clearfix layout layout-left">
      <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
        <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-9aa954a1-1df2-45a7-af01-1ea6cad15b16.jpg?v=1743314795000" alt="Udemy Certificate" style="width:100%; max-width:300px; margin-top:10px;" />
        <p class="no-print aditional-links">
        </p>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
        <h4><p class="quote"><strong>Complete Python Bootcamp From Zero to Hero in Python<br/>March 30, 2025</strong></p></h4>
        <p class="quote">
          Completed the <strong>"Complete Python Bootcamp From Zero to Hero in Python"</strong> certification program on Udemy. The course provided in-depth training in core and advanced Python programming concepts, including data structures, object-oriented programming, exception handling, and practical application development. Gained hands-on experience in writing efficient, maintainable Python code applicable to real-world scenarios.
        </p>
      </div>
    </div>
  </div>