<div class="container list-container">
  <h3>Experience</h3>
  <!-- Experience 0-->
  <div class="row clearfix layout layout-left">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4>Techno Facts</h4>
      <p><b>Senior Software Engineer</b></p>
      <p>April 2025 - Present</p>
      <a href="https://www.techno-facts.com/" target="_blank" class="link">techno-facts.com</a>
      <p class="no-print aditional-links"></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
      <p>Currently Working For Indegene Client. Prime responsibilities inculde Developing Full Stack Application, Admin Portals, Data Piplelines.</p>
      <p><strong>Tech:</strong> Docker, MongoDB, Python, NodeJS, ReactJS, Kubernetes, AWS</p>
    </div>
  </div>

  <!-- Experience 1-->
  <div class="row clearfix layout layout-left">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4>Tricog Health</h4>
      <p><b>Full Stack Engineer</b></p>
      <p>April 2022 - January 2024</p>
      <a href="http://tricog.com/" target="_blank" class="link">tricog.com</a>
      <p class="no-print aditional-links"></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
      <p>Architected a MERN stack interface that boosted Echo Product Division revenue 3x. Streamlined admin panels for sales and medical teams to enable partial task automation. Designed report-building and real-time alert systems for logging, monitoring, compliance, and failure tracking. Created an in-house medical infrastructure library with integrated AI/ML models, deployed via Docker and Kubernetes. Automated data synchronization across sources, and improved logging and performance monitoring while ensuring GDPR and HL7 compliance through structured log aggregation and distributed tracing. Worked on caching, DNS, replication, and load balancing for global scalability. Optimized database queries and contributed to scalable microservice and SOA architecture in cross-functional teams. Mentored junior developers, conducted code reviews, and enforced MVC patterns focused on scalability, data integrity, and production-readiness.</p>
      <p><strong>Tech:</strong> Docker, MongoDB, Python, NodeJS, ReactJS, Kubernetes, AWS, Chai, Mocha, Jest, Enzyme</p>
    </div>
  </div>

  <!-- Experience 2-->
  <div class="row clearfix layout layout-left">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4>SearchUnify (Grazitti Interactive)</h4>
      <p><b>Software Engineer</b></p>
      <p>May 2021 - March 2022</p>
      <a href="https://www.searchunify.com/" target="_blank" class="link">searchunify.com</a>
      <p class="no-print aditional-links"></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
      <p>Designed dynamic and embeddable search interfaces using React.js, Redux, and MaterialUI, integrated with APIs for full CRUD functionality. Delivered custom tech solutions for B2B clients and developed backend APIs using Node.js and Express. Created PoC projects to improve performance and product usability based on evolving requirements. Built data crawling pipelines and a visualization interface in collaboration with data analysts.</p>
      <p><strong>Tech:</strong> Docker, MySQL, MongoDB, NodeJS, ReactJS, Redux, Kubernetes, AWS, Chai, Mocha, Jest, Enzyme</p>
    </div>
  </div>

  <!-- Experience 3-->
  <div class="row clearfix layout layout-left">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4>Advenio Technosys</h4>
      <p><b>Product Engineer - Full Stack</b></p>
      <p>February 2020 - April 2021</p>
      <a href="https://www.adveniotecnosys.tech/" target="_blank" class="link">adveniotecnosys.tech</a>
      <p class="no-print aditional-links"></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
      <p>Built React.js, Redux, and MaterialUI-based search interfaces with full CRUD operations. Delivered backend APIs with Node.js and Express for B2B use cases. Developed PoCs for performance improvement and enhanced product usability. Collaborated with analysts on data crawling, processing pipelines, and visualization tools.</p>
      <p><strong>Tech:</strong> Docker, MySQL, MongoDB, NodeJS, ReactJS, Redux, Kubernetes, AWS, Chai, Mocha, Jest, Enzyme</p>
    </div>
  </div>

  <!-- Experience 4-->
  <!-- <div class="row clearfix layout layout-left">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4>Yogaya</h4>
      <p><b>Engineering Intern</b></p>
      <p>July 2019 - January 2020</p>
      <a href="https://boringcompany.com/" target="_blank" class="link">boringcompany.com</a>
      <p class="no-print aditional-links"></p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
      <p>Assisted in developing embeddable search UIs with React.js and Redux, supporting CRUD operations via API integration. Built custom B2B backend APIs using Node.js and Express. Contributed to PoC solutions to boost performance and UX. Supported development of data crawling pipelines and visualization tools with the analytics team.</p>
      <p><strong>Tech:</strong> Docker, MySQL, MongoDB, NodeJS, ReactJS, Redux, Kubernetes, AWS, Chai, Mocha, Jest, Enzyme</p>
    </div>
  </div> -->
</div>
