<div class="container text-container">
    <h3>A Little More About Me</h3>
    <div class="row clearfix">
      <div class="col-md-12">
        <p>Alongside my interests in networks and software engineering, some of my other interests and hobbies are:</p>
        <ul>
          <li>Gaming</li>
          <li>Playing Chess</li>
          <li>Cooking</li>
          <li>Hikingsss</li>
        </ul>
        <!-- <p>Look at this cool image<br>
          <img src="assets/images/landscape-trees.jpg" alt="Trees" title="Trees">
        </p> -->
      </div>
    </div>
  </div>